/.venv
/.git
/project_g17/db.sqlite3
/project_g17/__pycache__
/project_g17/app_project/__pycache__
/project_g17/app_project/migrations/__pycache__
/project_g17/categorias/__pycache__
/project_g17/categorias/migrations/__pycache__
/project_g17/migrations/__pycache__
/project_g17/project_g17/__pycache__

build/
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.thm
*.nav
*.pre
*.snm
*.vrb
*.xref
*.lol
_minted*
*.pyg
